@import '../../../styles/mixins';

.citation {
    position: relative;
    background-color: var(--light-color);
    color: var(--dark-color);
    padding: 1.5em;
    box-sizing: border-box;
    text-wrap: balance;
    border-radius: var(--radius);
    background-color: var(--light-color);
    @include box-shadow-effect;
}

.citation::before,
.citation::after {
    color: var(--contrast-color);
    position: absolute;
    font-weight: 500;
    font-size: 10em;
    pointer-events: none;
    @include text-shadow-short;
}

.citation::before {
    left: -2rem;
    top: -3rem;
    content: '“';
}

.citation::after {
    bottom: -8.5rem;
    right: -1.8rem;
    content: '”';
    @include text-shadow-effect;
}

.auteur {
    font-style: italic;
    font-weight: 500;
}