<div class="author">
    <div class="photo">
        <div class="background">
            <div class="container">
                <!-- img src="../../assets/jonathan.webp" alt="{{ citation.auteur_id?.auteur }}" -->
                <img src="https://thispersondoesnotexist.com/" alt="{{ citation.auteur_id?.auteur }}">
            </div>
        </div>
        <div class="authorName">
            {{citation.auteur_id?.auteur}}
        </div>
    </div>
    <p class="bio">{{ citation.auteur_id?.bio }}</p>
</div>